*{margin:0;}

.header{
	background-color:#231f20;
}

.header hgroup{
	margin-left:35%;
	margin-top:-2%;
}
.header hgroup h1{
	font-size:100%;
	color:#ffffff;
	background-color:#231f20;
	text-align:center;
	font-weight:bold; 
	margin: 0% 1% 0% 1%;
	display:inline;

}

.logo{
	width:100%;

}

.footer{
	font-family:Sofia;
	text-align:center;
	color:white;	
	background-color:#231f20;
width:100%;
}




